@model IEnumerable<Spotify.Models.Artista>

@{
    ViewData["Title"] = "Artistas";
}

<h1>Artistas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArtista" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdArtista" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdArtista" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
