@model Spotify.Models.Tarjetum

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro? Se eliminara tu cuenta premium</h3>
<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaExpiracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaExpiracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTarjeta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model?.IdUsuario" class="btn btn-success m-3">Volver</a>
    </form>
</div>
