@model Spotify.Models.Tarjetum

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de la Tarjeta</h1>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarjeta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreTarjeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaExpiracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaExpiracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTarjeta" class="btn btn-primary">Editar</a> |
    <a asp-action="Details" asp-controller="Usuarios" asp-route-id="@Model.IdUsuario" class="btn btn-secondary">Volver a la Lista</a>
</div>
