@model Spotify.Models.ListasReproduccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListasReproduccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLista">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
