@model IEnumerable<Spotify.Models.ListasReproduccion>

@{
    ViewData["Title"] = "Listas de Reproduccion";
}

<h1>Listas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Lista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publica)
            </th>
            <th>
                Usuario Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLista" class="btn btn-success mx-3">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdLista" class="btn btn-warning mx-3">Añadir Canciones</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdLista" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
