@model Spotify.Models.Cancione

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Canción</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <!-- No mostrar el álbum al que pertenece -->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCancion" class="btn btn-primary">Editar</a> |
    <!-- Volver al detalle del álbum -->
    <a asp-action="Details" asp-controller="Albums" asp-route-id="@Model?.IdAlbumNavigation.IdAlbum" class="btn btn-secondary">Volver</a>
</div>
